In [1]:
# Make the following data into list of tuples and convert into dictionary (B).
# Id =101, Name =Venu Gopal
data = [("ID",101),("Name","Venu Gopal")]
dict_data = dict(data)
dict_data

{'ID': 101, 'Name': 'Venu Gopal'}

In [3]:
# Write a Python program to map two lists into a dictionary (B+).
# Input: keys = ['red', 'green', 'blue']	values = ['#FF0000','#008000', '#0000FF']
# Expected Output: {'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}
color = ['red', 'green', 'blue']
rgb_value = ['#FF0000','#008000', '#0000FF']

result = {color[i]:rgb_value[i] for i in range(len(color))}
result

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [9]:
# Write a Python program to extract values as unique in a dictionary (B+).   
# Sample Data : [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# Expected Output : Unique Values: {'S005', 'S002', 'S007', 'S001', 'S009'}

sample_data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
val=[]
for data in sample_data:
  for key,value in data.items():
    val.append(value)
print(set(val))

{'S009', 'S007', 'S005', 'S002', 'S001'}

In [ ]:
# method 2 of getting unique values from the list of dictionaries
sample_data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
unique_values = set(value for data in sample_data for value in data.values())
unique_values

{'S001', 'S002', 'S005', 'S007', 'S009'}

In [ ]:
# Write a Python script to concatenate following dictionaries to create a new one (B).
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
#Expected Output : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

dic4 = {}
for d in dic1,dic2,dic3:
  dic4.update(d)

dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}