In [2]:
# write a program to display a triangle pattern with numbers

for row in range(1,7):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(row):
    print(row, end=" ")
  print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6

In [ ]:
# write a program to display a right triangle pattern with *
for row in range(1, 10):  # Loop for the number of rows you want (3 rows in your example)
    for space in range(9, row, -1):  # Print leading spaces for alignment
        print(" ", end=" ")  # Print a space with additional space
    for col in range(row):  # Print the stars in each row
        print("*", end=" ")  # Print a star followed by a space
    print()  # Move to the next line after each row

                *
              * *
            * * *
          * * * *
        * * * * *
      * * * * * *
    * * * * * * *
  * * * * * * * *
* * * * * * * * *

# Patterns Module 1

In [ ]:
#pattern 1
for i in range (3):
  for j in range(3):
    print("*", end=" ")
  print()

* * *
* * *
* * *

In [ ]:
#pattern 2
for i in range (1,5):
  for j in range(1,5):
    print(j, end=" ")
  print()

1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

In [34]:
# pattern 3
for i in range (1,5):
  for j in range(1,4):
    print(i, end=" ")
  print()

1 1 1
2 2 2
3 3 3
4 4 4

In [35]:
# pattern 4
for i in range (1,4):
  for j in range(1,3):
    print(chr(64+i), end=" ")
  print()

A A
B B
C C

In [ ]:
# pattern 5
for i in range (1,5):
  for j in range(1,5):
    print(chr(96+j), end=" ")
  print()

a b c d
a b c d
a b c d
a b c d

In [ ]:
# pattern 6
for i in range (1,5):
  for j in range(1,5):
    print(chr(64+j), end=" ")
  print()

A B C D
A B C D
A B C D
A B C D

In [47]:
# pattern 7
for i in range (1,5):
  for j in range(1,4):
    print(chr(96+i), end=" ")
  print()

a a a
b b b
c c c
d d d

In [61]:
# pattern 8
for i in range (1,5):
  for j in [1,3,5]:
    print(chr(64+j), end=" ")
  print()

A C E
A C E
A C E
A C E

# Model 2

In [3]:
# pattern 1

for i in range(1,6):  
  for j in range(i):
    print("*", end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [67]:
# pattern 2
for i in range(1,6):  
  for j in range(i):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [73]:
# pattern 3
for i in range(1,6):  
  for j in range(i):
    print(j+1, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [75]:
# pattern 4
for i in range(1,6):  
  for j in range(i):
    print(chr(65+j), end=" ")
  print()

A
A B
A B C
A B C D
A B C D E

In [78]:
# pattern 5
for i in range(1,6):  
  for j in range(i):
    print(chr(64+i), end=" ")
  print()

A
B B
C C C
D D D D
E E E E E

In [83]:
# pattern 6
for i in range(1,7):  
  for j in range(i):
    print(chr(97+j), end=" ")
  print()

a
a b
a b c
a b c d
a b c d e
a b c d e f

In [92]:
# pattern 7
for i in range(1,6):  
  for j in range(0,i):
    print(5-j, end=" ")
  print()

5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [97]:
# pattern 8
for i in range(1,6):  
  for j in range(0,i):
    print(6-i, end=" ")
  print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [99]:
# pattern 9
for i in range(1,6):  
  for j in range(0,i):
    print(chr(70-i), end=" ")
  print()

E
D D
C C C
B B B B
A A A A A

In [ ]:
# pattern 10
for i in range(1,6):  
  for j in range(0,i):
    print(chr(101-j), end=" ")
  print()

e
e d
e d c
e d c b
e d c b a

# Model 3

In [ ]:
# pattern 1
for row in range(1,7):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(row):
    print("*", end=" ")
  print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [112]:
# pattern 2
for row in range(1,7):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(row):
    print(row, end=" ")
  print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5
6 6 6 6 6 6

In [120]:
# pattern 3
for row in range(1,6):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(col, end=" ")
  print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

In [124]:
# pattern 4
for row in range(1,8):
  for space in range(7,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(chr(64+col), end=" ")
  print()

      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F
A B C D E F G

In [126]:
# pattern 5
for row in range(1,6):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(6-row, end=" ")
  print()

     5
    4 4
   3 3 3
  2 2 2 2
 1 1 1 1 1

In [ ]:
# pattern 6
for row in range(1,6):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(6-col, end=" ")
  print()

     5
    5 4
   5 4 3
  5 4 3 2
 5 4 3 2 1

In [131]:
# pattern 7
for row in range(1,6):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(chr(70-row), end=" ")
  print()

    E
   D D
  C C C
 B B B B
A A A A A

In [133]:
# pattern 8
for row in range(1,6):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(chr(102-row), end=" ")
  print()

    e
   d d
  c c c
 b b b b
a a a a a

In [144]:
# pattern 9
current_number = 1
for row in range(1,5):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(row):
    print(current_number, end=" ")
    current_number +=1
  print()

    1
   2 3
  4 5 6
 7 8 9 10

In [151]:
# pattern 10
current_number = 65
for row in range(1,7):
  for space in range(7,row,-1):
    print(end=" ")
  for col in range(row):
    print(chr(current_number), end=" ")
    current_number +=1
  print()

      A
     B C
    D E F
   G H I J
  K L M N O
 P Q R S T U

# Model 4

In [ ]:
# pattern 1
for row in range(1, 6):  
    for space in range(5, row, -1):  
        print(" ", end=" ")  
    for col in range(row):  
        print("*", end=" ")  
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [ ]:
# pattern 2
for row in range(1, 7):  
    for space in range(6, row, -1): 
        print(" ", end=" ")  
    for col in range(row):  
        print(row, end=" ")  
    print()

          1
        2 2
      3 3 3
    4 4 4 4
  5 5 5 5 5
6 6 6 6 6 6

In [ ]:
# pattern 3
for row in range(1, 7):  
    for space in range(6, row, -1):  
        print(" ", end=" ")  
    for col in range(1,row+1):  
        print(col, end=" ")  
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
1 2 3 4 5 6

In [167]:
# pattern 4
for row in range(1, 7):  
    for space in range(6, row, -1):  
        print(" ", end=" ")  
    for col in range(1,row+1):  
        print(chr(64+col), end=" ")  
    print()

          A
        A B
      A B C
    A B C D
  A B C D E
A B C D E F

In [172]:
# pattern 5
for row in range(1, 6):  
    for space in range(5, row, -1):  
        print(" ", end=" ")  
    for col in range(1,row+1):  
        print(6-row, end=" ")  
    print()

        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

# Model 5

In [180]:
# pattern 1
for row in range(1, 6):
    for col in range(6,row,-1):  
      print("*", end=" ")  
    print()

* * * * *
* * * *
* * *
* *
*

In [181]:
# pattern 2
for row in range(1, 6):
    for col in range(6,row,-1):  
      print(row, end=" ")  
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [193]:
# pattern 3
for row in range(5,0,-1):
    for col in range(1,row+1):  
      print(col, end=" ")  
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [194]:
# pattern 4
for row in range(5,0,-1):
    for col in range(1,row+1):  
      print(chr(64+col), end=" ")  
    print()

A B C D E
A B C D
A B C
A B
A

In [ ]:
# pattern 5
for row in range(3,0,-1):
    for col in range(1,row+1):  
      print(chr(100-row), end=" ")  
    print()

a a a
b b
c

In [201]:
# pattern 6
current_number = 1
for row in range(5,0,-1):
    for col in range(1,row+1):  
      print(current_number, end=" ") 
      current_number+=1 
    print()

1 2 3 4 5
6 7 8 9
10 11 12
13 14
15

In [205]:
# pattern 7
current_number = 65
for row in range(6,0,-1):
    for col in range(1,row+1):  
      print(chr(current_number), end=" ") 
      current_number+=1 
    print()

A B C D E F
G H I J K
L M N O
P Q R
S T
U

In [ ]:
# pattern 8
for row in range(5,0,-1):
    for col in range(1,row+1):  
      print(row, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [213]:
# pattern 8
for row in range(5,0,-1):
    for col in range(5,5-row,-1):  
      print(col, end=" ")
    print()

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

# Model 6

In [220]:
# pattern 1
for row in range(6,0,-1):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print("*", end=" ")
  print()

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [221]:
# pattern 2
for row in range(6,0,-1):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(row, end=" ")
  print()

6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [223]:
# pattern 3
for row in range(5,0,-1):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(col, end=" ")
  print()

1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
# pattern 4
current_number=1
for row in range(4,0,-1):
  for space in range(4,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(current_number, end=" ")
    current_number+=1
  print()

1 2 3 4
 5 6 7
  8 9
   10

In [ ]:
# pattern 5

for row in range(5,0,-1):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(chr(64+col), end=" ")    
  print()

A B C D E
 A B C D
  A B C
   A B
    A

In [ ]:
# pattern 6
current_number=97
for row in range(5,0,-1):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(chr(current_number), end=" ")
    current_number+=1
  print()

a b c d e
 f g h i
  j k l
   m n
    o

# Model 7

In [ ]:
# pattern 1
# upper triangle
for row in range(1,7):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(row):
    print("*", end=" ")
  print()
# lower triangle  
for row in range(6,0,-1):
  for space in range(6,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print("*", end=" ")
  print()

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [237]:
# pattern 2

for row in range(1,5):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(row, end=" ")
  print()

for row in range(5,0,-1):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(row, end=" ")
  print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [239]:
# pattern 3

for row in range(1,5):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1,row+1):
    print(col, end=" ")
  print()

for row in range(5,0,-1):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(col, end=" ")
  print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5
 1 2 3 4
  1 2 3
   1 2
    1

In [243]:
# pattern 4
current_number = 1
for row in range(1,5):
  for space in range(5,row,-1):
    print(end=" ")
  for col in range(row):
    print(current_number, end=" ")
    current_number +=1
  print()

for row in range(3,0,-1):
  for space in range(3,row,-1):
    print(end=" ")
  for col in range(1, row+1):
    print(current_number, end=" ")
    current_number+=1
  print()

    1
   2 3
  4 5 6
 7 8 9 10
11 12 13
 14 15
  16

# Model 8

In [ ]:
# pattern 1
for row in range(1,6):  
  for col in range(1,6):
    if row % 2 != 0:
     print("*", end=" ")
    else:
      print("#", end=" ")       
  print()

* * * * *
# # # # #
* * * * *
# # # # #
* * * * *

In [253]:
# pattern 2
for row in range(1,6):  
  for col in range(1,6):
    if (row+col)% 2 != 0:
     print("#", end=" ")
    else:
      print("*", end=" ")       
  print()

* # * # *
# * # * #
* # * # *
# * # * #
* # * # *

In [10]:
line = " ".join(str(i) for i in range(1, 6))
print((line + "\n") * 5, end="")

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
for i in "abcd":
  print(f"{i} "*3)

a a a
b b b
c c c
d d d

In [ ]:
# pattern to print the numbers 9-1
n=9
for _ in range(3):
  for _ in range(3):
    print(n,end=" ")
    n-=1
  print()

9 8 7
6 5 4
3 2 1

In [ ]:
# pattern to print small alphabets 
n = 1
for _ in range(7):
    for _ in range(4):
        if n > 26: 
            break
        print(chr(96 + n), end=" ")
        n += 1
    print()

a b c d
e f g h
i j k l
m n o p
q r s t
u v w x
y z